BOT_NAME=MinjiBot
BOT_PREFIX=.
OWNER_NUMBER=628xxxxxxxxxx
DATABASE_URL=file:./dev.db
SESSION_DIR=./sessions
TEMP_DIR=./temp
MAX_DOWNLOAD_MB=50
YTDLP_BINARY=yt-dlp
# YTDLP_COOKIES_FILE=./cookies.txt
TIMEZONE=Asia/Jakarta
